body
    {
     font-family:ÉÅÉCÉäÉI;
     font-size:12px;
    }

#wrapper
    {
	border-top: solid 1px  #000000;
	border-bottom: solid 1px  #000000;
	width:1200px;
	margin-left: auto;
	margin-right: auto;
    }
    
#header
    {border-bottom: solid 1px  #000000;}

#header img{
    margin-top:10px;
	margin-bottom:10px;
    }
    
#display{
    margin-top:2px;
	margin-bottom:3px;
	line-height:18px;
} 
  

td{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 3px;          
    padding-left: 19px;    
}

form{
    margin:0;
    padding:0;
    }

input {
    height:20px;
    width:120px;
    style="border-style:solid; 
    border-width:1px; 
    border-color:#000000; 
    background:#FFFFFF; 
    color:#808080;
    padding-left: 3px;     
} 

button {
    margin:4px;
    padding:4px;
    style="border-style:solid; 
    border-width:1px; 
    border-color:#000000; 
    background:#FFFFFF;
    color:#FFFFFF"
} 
 

#mapCanvas{
    border: solid 3px  #000000;
    margin-bottom:3px;
}

#errMsg{
	margin-top:5px;
	text-align:left;
}

#footer {
    border-top: solid 1px  #000000;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;     
	}

#footer img{
	padding-top: 15px;     
	}
